{% extends "rules_db/rules_base.html" %}

{% block title %}{{ class.name }} - {{ block.super }}{% endblock %}

{% block sidebar %}
    {% include "rules_db/sidebar.html" with contents_list=RulesChapter.objects.all %}
{% endblock sidebar %}

{% block content %}
    <h1>{{ class.name }}</h1>
    <p>{{ class.description }}</p>
    <p>Body points: {{ class.body_points }}</p>
        <menu>
            {% for s in class.skills.all %}
                <li><a href="{% url "db:skills" s.id %}">{{ s.name }}</a>
                    <p>{{ s.description }} {{ s.mechanics }}</p>
                    <p>
                        {% for t in s.types.all %}
                            [{{ t.name }}]
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </menu>
{% endblock %}
