{% extends "rules_db/rules_base.html" %}
{% load rules_extras %}

{% block title %}{{ character_class.name }} - {{ block.super }}{% endblock %}

{% block back %}
    <a href="{% url "db:chapter" "classes" %}">Back to Classes</a>
{% endblock back %}
{% block content %}
    <h1>{{ character_class.name }}</h1>
    <p>{{ character_class.description }}</p>
    <p>Body points: {{ character_class.body_points }}</p>
    {% for key, val in skill_dicts.items %}
        {% if val|length > 0 %}
            <div class="section_label"><h3>{{ key }}</h3></div>
            {% include "rules_db/skill_entry_grid.html" %}
        {% endif %}
    {% endfor %}
{% endblock %}
