<ul>
    {%  for c in rb_table_of_contents %}
        {% url 'db:chapter' c.chapter_number as url %}
        <li><a href="{{ url }}"{% if c.name in request.path %} style="background-color: aqua"{% endif %}>{{ c.name }}</a></li>
        {% if c.chapter_number == 1 %}
            <div class="expanded">
                {% for e in c.get_contents.objects.all %}
                    <li><a href="{% url 'db:index' %}">test</a></li>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</ul>