{% load rules_extras %}
<ul>
    {%  for c in rb_table_of_contents %}
        {% is_active_chapter c request.path as is_active %}
        {% url 'db:chapter' c.slug as url %}
        <li><a {% if is_active %} class="active" {% endif %}href="{{ url }}">{{ c.name }}</a></li>
        {% if is_active %}
            <div class="expanded">
                {% for e in c.get_contents %}
                    {% if c.slug == "classes" %}
                        {% url 'db:classes' e.id as suburl %}
                    {% else %}
                        {% url 'db:rules_article' c.slug e.slug as suburl %}
                    {% endif %}
                    <li><a {% if suburl in request.path %}class = "active"{% endif %} href="{{ suburl }}">
                        {% if c.slug == "classes" %}{{ e.name }}{% else %}{{ e.title }}{% endif %}
                    </a></li>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</ul>