{% extends "rules_db/rules_base.html" %}
{% load rules_extras %}

{% block title %}{{ skill.name }} - {{ block.super }}{% endblock %}

{% block back %}
    <p><a href="{% url "db:chapter" "classes" %}">Back to Classes</a></p>
{% endblock back %}
{% block content %}
    <div class="grid_container">
        {% include "rules_db/skill_entry_grid.html" %}
    </div>
    <p>Available from:</p>
    <ul>
        {% for c in skill.character_classes.all %}
            {% with alias_dict|get_dict_item:c.id as alias %}
            <li>
                <a href="{% url 'db:classes' c.id %}">{{ c.name }}</a>
                {% if alias != None %}
                    (as <strong>{{ alias }}</strong>)
                {% endif %}
            </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}