{% extends "base.html" %}

{% block title %}{{ class.name }} - Knight Realms: Anoch DB{% endblock %}

{% block content %}
    <h1>{{ class.name }}</h1>
    <p>{{ class.description }}</p>
    <p>Body points: {{ class.body_points }}</p>
        <menu>
            {%  for key, value in skill_dict.items %}
                <li>
                    <a href="{% url 'db:skills' key.id %}">{{ value }}</a>
                    <ul>
                        <li>{{ key.description }} {{ key.mechanics }}</li>
                        <li>Type:
                            {% for t in key.types.all %}
                                [{{ t }}]
                            {% endfor %}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </menu>
{% endblock %}
